.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out !important;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out !important;
  }

  /* NAVBAR  */

  .logo
  {
    position: relative;
    width: 150px;
    height: 100px;
  }

  .navbar
{
  background-color: #008080; 
  font-family: 'Inter';
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
  height: 80px;
}

.nav-link
{
  color: #f8f7f2 !important;
}

.nav-item
{
  display: block;
  color: white;
  text-align: center;
  padding: 18px 18px;
}

.nav-itembutton
{
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
}

.nav-item:hover 
{
  background-color: #005858;
}

html, body, form {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter';
    background-color: #f8f7f2;
    margin: 0%;
}

body {
    margin: auto 0;
    overflow-x: hidden;
    font-family: 'Inter';
    background-color: #f8f7f2;
    margin: 0%;
}
.section {
    width: 100%;
    height: 100vh;
    display: block;
}
#sec1 {
    background-color: #f8f7f2;
}
#sec2 {
    background-color: #f8f7f2;
}
#sec3 {
    background-color: #f8f7f2;
}
#sec4 {
    background-color: #f8f7f2;
}
.btnMain1
{
  background-color: #008080;
  color: #f8f7f2;
  border-width: 0px;
  border-radius: 15px;
  height: 70px;
  width: 300px;
  font-size: 24px;
}
.btnMain2
{
  background-color: #008080;
  color: #f8f7f2;
  border-width: 0px;
  border-radius: 15px;
  height: 70px;
  width: 325px;
  font-size: 24px;
}
.col-1 {
    width: 50%;
    float: left;
    position: absolute;
    background-color: #f8f7f2;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.col-1 h1{
    text-align: center;
    font-size: 56px;
    color: #008080;
}
.col-1 p{
    text-align: center;
    font-size: 24px;
    color: #181818;
    padding-left:10%;
    padding-right: 10%;
}
.col-1 button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.col-2{
    width: 50%;
    float: right;
    right: 0;
    position: absolute;
    background-color: #f8f7f2;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.col-2 h1{
    text-align: center;
    font-size: 56px;
    color: #008080;
}
.col-2 p{
    text-align: center;
    font-size: 24px;
    color: #181818;
    padding-left:10%;
    padding-right: 10%;
}
.col-2 button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.lifepic {
    width: 50%;
    float: left;
    position: absolute;
    height: 100%;
    background:url(/Images/LifeInsur.jpg);
}
.lifeicon{
    width:210px;
    height:210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#lifecol{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.healthpic {
    width: 50%;
    float: right;
    right: 0;
    position: absolute;
    background:url(/Images/HealthInsur.jpg);
    height: 100%;
}
.healthicon{
    width:210px;
    height:210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.autopic {
    width: 50%;
    float: left;
    position: absolute;
    height: 100%;
    background:url(/Images/CarInsur.jpg);
}
.autoicon{
    width:210px;
    height:210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.travelpic {
    width: 50%;
    float: right;
    right: 0;
    position: absolute;
    background:url(/Images/TravelInsur.jpg);
    height: 100%;
}
.travelicon{
    width:210px;
    height:210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigation-bar 
{
    width: 100%;
    height: 80px;
    background-color: #008080; 
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li 
{
    float: left;
}
  
li a 
{
    display: block;
    color: #f8f7f2;
    text-align: center;
    padding: 29px 29px;
    text-decoration: none;
    font-size: 16px;
}
  
li a:hover 
{
    background-color: #005858;
    color: #f8f7f2;
    text-decoration: none;
}

.homepageLogo1
{
    margin-top: -10px;
    padding-left: 10px;
    position: relative;
    width: 160px;
    height: 100px;
}

.btnNav
{
  background-color: #f8f7f2;
  color: #008080;
  border-width: 0px;
  border-radius: 15px;
  height: 40px;
  width: 120px;
  margin-left: 700px;
  margin-top: 20px;
}

.btnNav:hover
{
  background-color: #005858;
  color: #f8f7f2;
}

