body {
    font-family: Inter;
    background-color: #f8f7f2;
  }

  .calculator {
    max-width: 500px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #F8f7f2;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #008080;
    font-size: 48px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="number"] {
    font: 15px/24px "Inter", Arial, sans-serif; color: #181818; width: 100%; letter-spacing: 1px;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  }
  input[type="number"]:focus {
    border: 1px solid #181818;
  }
  input[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #008080;
    color: #f8f7f2;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font: 15px/24px "Inter", Arial, sans-serif;
    text-align: center;
    width: 40%;
  }

  input[type="submit"]:hover {
    background-color: #c5c3c3;
  }

  .result {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #181818;
  }

  label{
    color: #181818;
  }

  .navbar
{
  background-color: #008080; 
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
  height: 80px;
}

.nav-link
{
  color: #f8f7f2 !important;
}

.nav-item
{
  display: block;
  text-align: center;
  padding: 18px 18px;
}

.nav-itembutton
{
  display: block;
  text-align: center;
  padding: 18px;
}

.nav-item:hover 
{
  background-color: #005858;
}

.logo
{
  position: relative;
  width: 150px;
  height: 100px;
}

#Footer
{
  margin-top: 130px;
    padding-top: 20px;
    width: 100%;
    background-color: #008080;
    color: #f8f7f2;
}