/* CLASS FOR NAVBAR ANIMATION */

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out !important;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out !important;
  }

  /* NAVBAR  */

  .logo
  {
    position: relative;
    width: 150px;
    height: 100px;
  }

  .navbar
{
  background-color: #008080; 
  font-family: 'Inter';
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
  height: 80px;
}

.nav-link
{
  color: #f8f7f2 !important;
}

.nav-item
{
  display: block;
  color: white;
  text-align: center;
  padding: 18px 18px;
}

.nav-itembutton
{
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
}

.nav-item:hover 
{
  background-color: #005858;
}
  
  /* FOOTER */

  #Footer
  {
    padding-top: 20px;
    background-color: #008080;
    color: #f8f7f2;
  }

  .btnNav
{
  background-color: #f8f7f2;
  color: #008080;
  border-width: 0px;
  border-radius: 15px;
  height: 40px;
  width: 120px;
}

  .container h1{
    font-size: 56px;
    font-family: Inter;
    font-style: bold;
    color: #008080;
  }
  .imgPolicies{
    border-radius:20px;
  }
  #InsuranceReason{
    padding-top: 100px;
    padding-bottom: 100px;
  }

/* Containers */
/*Life*/
  .box{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  box-shadow: inset 100px 10px 10px #000000 0.5;
  background: url(/Images/Life/StarterLife.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  position:relative;
  }
  .box b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  .box2{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Life/SecureLife.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .box2 b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  .box3{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Life/FamilyLife.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .box3 b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  .box4{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Life/AdventureLife.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .box4 b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  .box5{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Life/LegacyLife.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .box5 b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  .box6{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Life/PersonalizedPlaceholder.jpg);
  font-family: Inter;
  font-size: 24px;
  color:#008080;
  }
  .box6 b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }

/*Health*/
.hbox{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
box-shadow: inset 100px 10px 10px #000000 0.5;
background: url(/Images/Health/BasicHealth.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
position:relative;
}
.hbox b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.hbox2{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Health/StudentHealth.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.hbox2 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.hbox3{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Health/FamilyHealth.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.hbox3 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.hbox4{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Health/MentalHealth.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.hbox4 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.hbox5{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Health/DigitalHealth.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.hbox5 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
  
/*Travel*/
.tbox{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
box-shadow: inset 100px 10px 10px #000000 0.5;
background: url(/Images/Travel/BasicTravel.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
position:relative;
}
.tbox b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.tbox2{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Travel/GroupTravel.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.tbox2 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.tbox3{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Travel/StudyAbroad.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.tbox3 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.tbox4{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Travel/TravelAdventure.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.tbox4 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.tbox5{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Travel/DigitalNomad.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.tbox5 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}

/*Auto*/
.abox{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
box-shadow: inset 100px 10px 10px #000000 0.5;
background: url(/Images/Auto/BasicAuto.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
position:relative;
}
.abox b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.abox2{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Auto/EcoAuto.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.abox2 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.abox3{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Auto/CollisionProtect.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.abox3 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.abox4{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Auto/RoadsideAssist.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.abox4 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}
.abox5{
  width: 425px;
height: 283px;
border-radius: 20px;
filter: drop-shadow(0px 4px 3px #000);
background: url(/Images/Auto/GeneralProtect.jpg);
font-family: Inter;
font-size: 32px;
color:#f8f7f2;
}
.abox5 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
}

/* Flipcards */
.flip-container {
  display: inline-block;
  height: 283px !important;
  width: 425px !important;
  position: relative;
  perspective: 800px;
  border-radius: 20px;
}
  
.flip-container:hover .flip-card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
  
.flip-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 20px;
  background-color: #008080;
}
  
.flip-card > div {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
  
.front-face {
  padding: 0px;
}
  
.back-face-center {
  transform: rotateY(180deg);
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  color: #f8f7f2;
  font-size: 16px;
  margin: 0;
  padding: 8px;
}
