.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out !important;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out !important;
  }

  /* NAVBAR  */

  .logo
  {
    position: relative;
    width: 150px;
    height: 100px;
  }

  .navbar
{
  background-color: #008080; 
  font-family: 'Inter';
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
  height: 80px;
}

.nav-link
{
  color: #f8f7f2 !important;
}

.nav-item
{
  display: block;
  color: white;
  text-align: center;
  padding: 18px 18px;
}

.nav-itembutton
{
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
}

.nav-item:hover 
{
  background-color: #005858;
}

html, body, form {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter';
    background-color: #f8f7f2;
    margin: 0%;
}

body {
    margin: auto 0;
    overflow-x: hidden;
    font-family: 'Inter';
    background-color: #f8f7f2;
    margin: 0%;
}
.section {
    width: 100%;
    height: 100vh;
    display: block;
}
#sec1 {
    background-color: #f8f7f2;
}
#sec2 {
    background-color: #f8f7f2;
}
#sec3 {
    background-color: #f8f7f2;
}
#sec4 {
    background-color: #f8f7f2;
    
}
.btnMain
{
  background-color: #008080;
  color: #f8f7f2;
  border-width: 0px;
  border-radius: 15px;
  height: 40px;
  width: 160px;
  font-size: 16px;
}
.btnMain2
{
  background-color: #008080;
  color: #f8f7f2;
  border-width: 0px;
  border-radius: 15px;
  height: 70px;
  width: 325px;
  font-size: 24px;
}
.coll-1 {
    width: 50%;
    float: left;
    position: absolute;
    background-color: #f8f7f2;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.coll-1 h1{
    text-align: center;
    font-size: 56px;
    color: #008080;
}
.coll-1 p{
    text-align: center;
    font-size: 24px;
    color: #181818;
    padding-left:10%;
    padding-right: 10%;
}
.coll-1 button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.coll-2{
    width: 50%;
    float: right;
    right: 0;
    position: absolute;
    background-color: #f8f7f2;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.coll-2 h1{
    text-align: center;
    font-size: 56px;
    color: #008080;
}
.coll-2 p{
    text-align: center;
    font-size: 24px;
    color: #181818;
    padding-left:10%;
    padding-right: 10%;
}
.col-2 button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.lifepic {
    width: 50%;
    float: left;
    position: absolute;
    height: 100%;
    background:url(/Images/LifeInsur.jpg);
}
.lifeicon{
    width:250px !important;
    height:210px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
#lifecol{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.healthpic {
    width: 50%;
    float: right;
    right: 0;
    position: absolute;
    background:url(/Images/HealthInsur.jpg);
    height: 100%;
}
.healthicon{
    width:210px;
    height:210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.autopic {
    width: 50%;
    float: left;
    position: absolute;
    height: 100%;
    background:url(/Images/CarInsur.jpg);
}
.autoicon{
    width:250px !important;
    height:210px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.travelpic {
    width: 50%;
    float: right;
    right: 0;
    position: absolute;
    background:url(/Images/TravelInsur.jpg);
    height: 100%;
}
.travelicon{
    width:210px;
    height:210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .navigation-bar 
{
    width: 100%;
    height: 80px;
    background-color: #008080; 
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
} */


.homepageLogo1
{
    margin-top: -10px;
    padding-left: 10px;
    position: relative;
    width: 160px;
    height: 100px;
}

.btnNav
{
  background-color: #f8f7f2;
  color: #008080;
  border-width: 0px;
  border-radius: 15px;
  height: 40px;
  width: 120px;
  margin-left: 700px;
  margin-top: 20px;
}

.btnNav2
{
  background-color: #008080;
  color: #f8f7f2;
  border-width: 0px;
  border-radius: 15px;
  height: 40px;
  width: 40px;
}

.btnNav:hover
{
  background-color: #005858;
  color: #f8f7f2;
}

#Footer
{
    padding-top: 20px;
    width: 100%;
    background-color: #008080;
    color: #f8f7f2;
}

.main
{
    padding-top: 8%;
    text-align: center;
}

/*Life*/
.box{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  box-shadow: inset 100px 10px 10px #000000 0.5;
  background: url(/Images/Life/StarterLife.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  position:relative;
  }
  .box b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  .box2{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Life/SecureLife.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .box2 b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  .box3{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Life/FamilyLife.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .box3 b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  .box4{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Life/AdventureLife.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .box4 b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  .box5{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Life/LegacyLife.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .box5 b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  .box6{
    width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Life/PersonalizedPlaceholder.jpg);
  font-family: Inter;
  font-size: 24px;
  color:#008080;
  }
  .box6 b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 283px;
  }
  
  /*Health*/
  .hbox{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  box-shadow: inset 100px 10px 10px #000000 0.5;
  background: url(/Images/Health/BasicHealth.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  position:relative;
  }
  .hbox b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .hbox2{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Health/StudentHealth.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .hbox2 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .hbox3{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Health/FamilyHealth.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .hbox3 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .hbox4{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Health/MentalHealth.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .hbox4 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .hbox5{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Health/DigitalHealth.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .hbox5 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  
  /*Travel*/
  .tbox{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  box-shadow: inset 100px 10px 10px #000000 0.5;
  background: url(/Images/Travel/BasicTravel.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  position:relative;
  }
  .tbox b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .tbox2{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Travel/GroupTravel.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .tbox2 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .tbox3{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Travel/StudyAbroad.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .tbox3 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .tbox4{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Travel/TravelAdventure.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .tbox4 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .tbox5{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Travel/DigitalNomad.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .tbox5 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  
  /*Auto*/
  .abox{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  box-shadow: inset 100px 10px 10px #000000 0.5;
  background: url(/Images/Auto/BasicAuto.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  position:relative;
  }
  .abox b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .abox2{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Auto/EcoAuto.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .abox2 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .abox3{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Auto/CollisionProtect.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .abox3 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .abox4{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Auto/RoadsideAssist.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .abox4 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }
  .abox5{
  width: 425px;
  height: 283px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 3px #000);
  background: url(/Images/Auto/GeneralProtect.jpg);
  font-family: Inter;
  font-size: 32px;
  color:#f8f7f2;
  }
  .abox5 b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  }

  .flip-container {
    display: inline-block;
    height: 283px !important;
    width: 425px !important;
    text-decoration: none !important;
    position: relative;
    perspective: 800px;
    border-radius: 20px;
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    }
    
    .flip-container:hover {
    transform: translateY(-5px);
    }
    
    .front-face {
    padding: 0px;
    }
    
    a{
    text-decoration: none !important;
    }